/*********************************
	CSS declarations for xtal.js
*********************************/
.xtal-cif-table {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	width: 100%;
}
.xtal-cif-table th {
	border-bottom: solid 2px #ccc;
}
.xtal-cif-table td, .xtal-cif-table th {
	padding: 5px;
}
.xtal-cif-table td {
	border-bottom: dashed 1px #ccc;
}
.xtal-cif-table tbody:nth-child(odd) {
	background: #eee;
}
.xtal-cif-table td.xtal-cif-tablegroup {
	text-align: center;
	font-weight: bold;
}
.xtal-cif-table td.xtal-cif-tablegroup,
.xtal-cif-table tbody tr:last-child td {
	border-bottom: solid 2px #ccc;
}


/* jQuery-UI Vertical tabs */
.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 100%;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 20em;
    background: #CCC;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}